
@media (min-width: 565px) {
body {
  display:flex;
  text-align:center;
  background: blanchedalmond;
  width: auto;
} 
.a {
  display: flex;
  flex-direction: column;
  width: 1540px;
  height:300px;
  padding: 10px;
  margin: 20px;
  background-color: rgb(227, 227, 20);
}
.b {
  position:relative;
  bottom: -40px;
  left: -10px;
  width: 1270px;
  height: 700px;
  padding: 20px;
  margin: 20px;
  background-color: blue;
}
.c {
  position: relative;
  top: -720px;
  right: -1340px;
  width: 200px;
  height: 700px;
  padding: 20px;
  margin: 10px;
  background-color: black;
  
}
}